{% extends "blog/base.htm" %}
{%load crispy_forms_tags %}
{% block content %} 
<div class="content-section bg-dark">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="from-group text-white">
            <legend class="border-bottom mb-4 text-white">reset password</legend>
            {{form|crispy }}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="log in">send request</button>
        </div>
    </form>
    
</div>
{% endblock content %}
